name: language

on: [pull_request]

jobs:
  linting:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Check spelling
        uses: typoci/spellcheck-action@v1.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Check style and grammar
        uses: reviewdog/action-languagetool@v1
        with:
          github_token: ${{ secrets.github_token }}
          patterns: '**/*.md **/*.tex'
          language: de-DE
          reporter: github-pr-review
